/*
 * MotionのQuick Startを実装するためのCSS
 */
.box {
    width: 100px;
    height: 100px;
    background-color: #9911ff;
    border-radius: 10px;
}

#three-container {
    width: 300px;
    height: 200px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #4ff0b7;
    border-radius: 10px;
    transform: scale(0.4);
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #ff0088;
    border-radius: 10px;
}

ul.example {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 0;
    margin: 0;
    padding: 0;
}

ul.example li {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: block;
    background-color: #0cdcf7;
    opacity: 0;
    flex: 0 0 50px;
}